DATABASE_URL=
DIAFLOW_API_KEY=
AUTH_SECRET=
REDIS_DB=
APP_API_KEY=
NEXT_PUBLIC_YOUTUBE_URL="https://www.youtube.com/watch?v=y1wjmtFJRuk"
NEXT_PUBLIC_SITE_URL="https://{domain}"
NEXT_PUBLIC_GA_ID=
KLAVIYO_PRIVATE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=